<% include partials/header.ejs %>

<div class="container">
  <h1><%=campground.name%></h1>
  <p><%=campground.description%></p>
  <img src="<%=campground.image%>"></img>
</div>

<% campground.comments.forEach((e)=>{ %>
<div>
  <p><%= e.text %></p>
  <p><%= e.author %></p>
</div>
<% }); %>

<% include partials/footer.ejs %>