<% include ../partials/header.ejs %>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <p class="lead">Yelp Camp</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
      <!--MAP-->
    </div>
    <div class="col-sm-9">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= campground.image %>"></img>
        <div class="caption-full">
          <h4>
            <a href=""><%= campground.name %></a>
            <span class="pull-right">$<%= campground.price %>/night</span>
          </h4>
          <p><%- campground.description %>
          <span class="apull-right">added by <%= campground.author.username %></span></p>

          <% if(1||currentUser && campground.author._id.equals(currentUser._id)) { %>
            <a class="btn btn-default btn-xs" href="/campgrounds/<%=campground.id%>/edit">Edit Campground Info</a>
            <form class="inline-form" method="post" action="/campgrounds/<%=campground.id%>?_method=DELETE">
              <button class="btn btn-default btn-xs">Delete Campground</button>
            </form>
          <% } %>
        </div>

      </div>
      <div class="well">
        <div class="text-right">
          <a href="/campgrounds/<%=campground.id%>/comments/new" class="btn btn-success">Add a Comment</a>
        </div>
        <hr>
        <% campground.comments.forEach((e)=>{ %>
        <div class="row">
          <div class="col-md-12">
            <strong><%= e.author.username %></strong>
            <span class="pull-right">10 days ago</span>
            <p><%= e.text %></p>
            <% if (1||currentUser && e.author.id.equals(currentUser.id)) { %>
              <a href="/campgrounds/<%=campground.id%>/comments/<%=e._id%>/edit" class="btn btn-default btn-xs">Edit Comment</a>
              <form class="inline-form" method="post" action="/campgrounds/<%=campground.id%>/comments/<%=e.id%>?_method=DELETE">
                <button class="btn btn-default btn-xs">Delete Comment</button>
              </form>
            <% } %>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>



<% include ../partials/footer.ejs %>